# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*storybook.log
storybook-static
src/state/useCameraStore.ts.txt
src/state/useMapStore.ts.txt
src/state/useUiStore.ts.txt
src/types/map.types.ts.txt
src/core/webgl/map-shaders.ts.txt
src/core/webgl/webgl-utils.ts.txt
src/core/WebGLRenderer.ts.txt
src/backlog.md
