.moreToolsPanel {
  position: absolute;
  bottom: 65px;
  right: 10px;
  width: 200px;
  z-index: 999;
  border-radius: 8px;
  opacity: 0;
  transform: translateY(10px);
  transition:
    opacity 0.2s ease-out,
    transform 0.2s ease-out;
  pointer-events: none;
}

.moreToolsPanel.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.buttonList {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
